.form-span {
  margin-bottom: 0;
  vertical-align: middle;
}

.form-horizontal {
  @media (min-width: @screen-sm-min) {
    .form-span {
      margin-bottom: 0;
      padding-top: (@padding-base-vertical + 1); // Default padding plus a border
    }
  }

  .form-group-lg {
    @media (min-width: @screen-sm-min) {
      .form-span {
        padding-top: (@padding-large-vertical + 1);
        font-size: @font-size-large;
      }
    }
  }
  .form-group-sm {
    @media (min-width: @screen-sm-min) {
      .form-span {
        padding-top: (@padding-small-vertical + 1);
        font-size: @font-size-small;
      }
    }
  }
}
//.badge {
  .badge-primary { background-color: @brand-primary; }
  .badge-success { background-color: @brand-success; }
  .badge-info { background-color: @brand-info; }
  .badge-warning { background-color: @brand-warning; }
  .badge-danger { background-color: @brand-danger; }
//}